{% extends 'homepage/base.html' %}   
{% block content %}
{% load static %}
   <!--  hero area start -->
   <div class="main-hero-area cta6">
    <div class="container">
        <div class="row nyte">
        <div class="crypton wow fadeInDown col-11 mx-auto">
                    <img src="{% static 'homepage/assets/img/home6-hero-mobile.png' %}" alt="">
                </div>
                </div>
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="home5-hero-mobile wow fadeInDown">
                    <img src="{% static 'homepage/assets/img/home6-hero-mobile.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-7 text-right">
                <div class="hero-txt">
                    <h1>The Best App to Increase<br>
                    Your Productivity</h1>
                    <p>A mobile app is a computer program designed to run on a
                    <br> mobile device such as a phone/tablet or watch.</p>
                    <a class="home5-download-btn" href="#"></a>
                    <a class="home5-download-btn2" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  hero area start -->
<!--  about area start -->
<div class="home5-about-area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="about-single-item">
                    <div class="about-single-icon">
                        <span style="background: url({% static 'homepage/assets/img/icon_support.png' %});"></span>
                    </div>
                    <div class="about-single-content">
                        <h4>24/7 Support</h4>
                        <p>Apps that are not preinstalled are usually available through distribution platforms called app stores.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="about-single-item">
                    <div class="about-single-icon">
                        <span style="background: url({% static 'homepage/assets/img/icon_privacy.png' %});"></span>
                    </div>
                    <div class="about-single-content">
                        <h4>Data Privacy</h4>
                        <p>Apps that are not preinstalled are usually available through distribution platforms called app stores.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="about-single-item">
                    <div class="about-single-icon cta">
                        <span style="background: url({% static 'homepage/assets/img/icon_code.png' %});"></span>
                    </div>
                    <div class="about-single-content">
                        <h4>Friendly Code</h4>
                        <p>Apps that are not preinstalled are usually available through distribution platforms called app stores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  about area end -->
<!--  featured area start -->
<div class="featured-area cta5" id="featured">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 wow fadeInRight margin-left-30">
                <div class="featured-right-item">
                    <div class="featured-title">
                        <h2>Features</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="featured-single-items">
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon1.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>User Friendly</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon2.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Smooth Typography</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon3.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Super Fast</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon4.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Creative Design</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="featured-single-items">
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon5.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Unlimited Features</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon6.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Easy Installation</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon7.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Well Documented</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                                <div class="featured-single">
                                    <img src="{% static 'homepage/assets/img/featured-icon8.png' %}" alt="">
                                    <div class="featured-single-text">
                                        <h4>Extra Booster</h4>
                                        <p>Most such devices are sold with several
                                            <br> apps bundled as installed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 wow fadeInLeft">
                <div class="featured-mobile">
                    <img src="{% static 'homepage/assets/img/featured-mobile.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--  featured area end -->
<!--  screenshot area start -->
<div class="screenshot-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp text-center">
                <div class="section-title">
                    <h2>Screenshots</h2>
                    <p>Most such devices are sold with several apps bundled as pre-installed software,
                        <br> such as a web browser, email client, calendar, mapping program.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="screenshot-slide">
                    <div class="screenshot-single-slide">
                        <img src="{% static 'homepage/assets/img/sc-1.jpg' %}" alt="">
                    </div>
                    <div class="screenshot-single-slide">
                        <img src="{% static 'homepage/assets/img/sc-2.jpg' %}" alt="">
                    </div>
                    <div class="screenshot-single-slide">
                        <img src="{% static 'homepage/assets/img/sc-5.jpg' %}" alt="">
                    </div>
                    <div class="screenshot-single-slide">
                        <img src="{% static 'homepage/assets/img/sc-2.jpg' %}" alt="">
                    </div>
                    <div class="screenshot-single-slide">
                        <img src="{% static 'homepage/assets/img/sc-4.jpg' %}" alt="">
                    </div>
                    <div class="screenshot-single-slide">
                        <img src="{% static 'homepage/assets/img/sc-5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  screenshot area end -->
<!--  get area start -->
<div class="get-area cta5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInRight">
                <div class="get-app-right">
                    <img src="{% static 'homepage/assets/img/get-app-mobile.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInLeft">
                <div class="get-area-left">
                    <h1>Get The App Now</h1>
                    <p>Mobile apps were originally offered for general productivity information retrieval, including email, calendar, contacts, stock market and weather information. public demand and the availability of developer tools drove rapid expansion into other categories, such as those handled.</p>
                    <div class="get-app-mobile-app">
                        <a href="#" class="home5-get-btn"></a>
                        <a href="#" class="home5-get-btn2"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  get area end -->
<!--  pricing area start -->
<div class="pricng-area cta5 wow fadeInUp" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title cta-pricing">
                    <h2>Pricing</h2>
                    <p>Most such devices are sold with several apps bundled as pre-installed software,
                    <br> such as a web browser, email client, calendar, mapping program.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="single-pricing">
                            <h5>Basic</h5>
                            <h4>$10 <span>/mo</span></h4>
                            <ul>
                                <li>1 user</li>
                                <li>10 projects</li>
                                <li>access to all features</li>
                                <li>24/7 support</li>
                            </ul>
                            <a href="#" class="price-btn">ordre now</a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="single-pricing c-active">
                            <h5>Standard</h5>
                            <h4>$20 <span>/mo</span></h4>
                            <ul>
                                <li>3 user</li>
                                <li>20 projects</li>
                                <li>access to all features</li>
                                <li>24/7 support</li>
                            </ul>
                            <a href="#" class="price-btn">ordre now</a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="single-pricing">
                            <h5>Premium</h5>
                            <h4>$40 <span>/mo</span></h4>
                            <ul>
                                <li>7 user</li>
                                <li>10 projects</li>
                                <li>access to all features</li>
                                <li>24/7 support</li>
                            </ul>
                            <a href="#" class="price-btn">ordre now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  pricing area end -->
<!--  counter area start -->
<div class="counter-area cta5 wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <a href="#" class="single-counter">
                    <img src="{% static 'homepage/assets/img/counter-icon1.png' %}" alt="">
                    <h1>15K+</h1>
                    <p>App Downloads</p>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="#" class="single-counter">
                    <img src="{% static 'homepage/assets/img/counter-icon2.png' %}" alt="">
                    <h1>400+</h1>
                    <p>Happy Clients</p>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="#" class="single-counter">
                    <img src="{% static 'homepage/assets/img/counter-icon3.png' %}" alt="">
                    <h1>8K+</h1>
                    <p>Active Users</p>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <a href="#" class="single-counter">
                    <img src="{% static 'homepage/assets/img/counter-icon4.png' %}" alt="">
                    <h1>900+</h1>
                    <p>Total Reviews</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--  counter area end -->
<!--  testimonial area start -->
<div class="testimonial-area" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp text-center">
                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Most such devices are sold with several apps bundled as pre-installed software,
                        <br> such as a web browser, email client, calendar, mapping program.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slide">
                    <div class="testimonial-single-slide">
                        <div class="testimonial-slide-content">
                            <p>“Developing apps for mobile devices requires considering the constraints and features of these devices. Mobile devices run on battery and have less powerful processors.”</p>
                        </div>
                        <div class="testimonial-slide-meta">
                            <img src="{% static 'homepage/assets/img/testimonial-slide-meta1.png' %}" alt="">
                            <span class="testimonial-meta">
                                <span class="meta-title">Elijah Terry</span>
                            <br>
                            <span class="meta-content">CEO, Imagine Dragon Inc.</span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-single-slide">
                        <div class="testimonial-slide-content">
                            <p>“Developing apps for mobile devices requires considering the constraints and features of these devices. Mobile devices run on battery and have less powerful processors.”</p>
                        </div>
                        <div class="testimonial-slide-meta">
                            <img src="{% static 'homepage/assets/img/testimonial-slide-meta2.png' %}" alt="">
                            <span class="testimonial-meta">
                                <span class="meta-title">Daniel Wells</span>
                            <br>
                            <span class="meta-content">Android Developer, SW&Z</span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-single-slide">
                        <div class="testimonial-slide-content">
                            <p>“Developing apps for mobile devices requires considering the constraints and features of these devices. Mobile devices run on battery and have less powerful processors.”</p>
                        </div>
                        <div class="testimonial-slide-meta">
                            <img src="{% static 'homepage/assets/img/testimonial-slide-meta3.png' %}" alt="">
                            <span class="testimonial-meta">
                                <span class="meta-title">Robert Evans</span>
                            <br>
                            <span class="meta-content">SEO Specialist, Singleappel</span>
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-single-slide">
                        <div class="testimonial-slide-content">
                            <p>“Developing apps for mobile devices requires considering the constraints and features of these devices. Mobile devices run on battery and have less powerful processors.”</p>
                        </div>
                        <div class="testimonial-slide-meta">
                            <img src="{% static 'homepage/assets/img/testimonial-slide-meta2.png' %}" alt="">
                            <span class="testimonial-meta">
                                <span class="meta-title">Daniel Wells</span>
                            <br>
                            <span class="meta-content">Android Developer, SW&Z</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  testimonial area end -->
<!--  video area start -->
<div class="video-area cta5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp text-center">
                <div class="section-title ctas1">
                    <h2>Watch Video</h2>
                    <p>Most such devices are sold with several apps bundled as pre-installed software,
                        <br> such as a web browser, email client, calendar, mapping program.</p>
                </div>
                <div class="video-btn-section">
                    <a href="https://www.youtube.com/watch?v=0WWzgGyAH6Y" class="video-btn mfp-iframe">
                        <img src="{% static 'homepage/assets/img/video-icon.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  video area end -->
<!--  blog area start -->
<div class="blog-slide-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp text-center">
                <div class="section-title">
                    <h2>Blog</h2>
                    <p>Most such devices are sold with several apps bundled as pre-installed software,
                        <br> such as a web browser, email client, calendar, mapping program.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col- col-md-12">
                <div class="blog-slide">
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img1.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Pamela Reid</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">5 Ways to From Your Mobile</a></h4>
                        </div>
                    </div>
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img2.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Jerry Myers</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">The Best of, so far</a></h4>
                        </div>
                    </div>
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img3.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Nicole Adams</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">All the trends we this year</a></h4>
                        </div>
                    </div>
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img1.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Pamela Reid</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">5 Ways to From Your Mobile</a></h4>
                        </div>
                    </div>
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img2.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Jerry Myers</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">The Best of, so far</a></h4>
                        </div>
                    </div>
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img3.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Nicole Adams</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">All the we loved this year</a></h4>
                        </div>
                    </div>
                    <div class="blog-single-slide">
                        <img src="{% static 'homepage/assets/img/blog-slide-img2.jpg' %}" alt="">
                        <div class="blog-slide-text">
                            <p>By <span class="blog-meta">Nicole Adams</span> <span class="blog-bar"> | </span> January 16, 2018</p>
                            <h4><a href="#">All the we loved this year</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  blog area end -->
<!--  contact area start -->
<div class="contact-area cta5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title ctas1">
                    <h2>Contact US</h2>
                    <p>Most such devices are sold with several apps bundled as pre-installed software,
                        <br> such as a web browser, email client, calendar, mapping program.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-lg-1 wow fadeInLeft">
                <div class="contact-form text-center">
                    <form action="http://tf.wpcheatsheet.net/html/appiyan/contact.php">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Full Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" placeholder="Subject">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="home-2-form-submit">
                                    <input type="submit" value="Send message">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInRight">
                <div class="contact-form-right">
                    <div class="contact-form-right-single">
                        <h5>Phone</h5>
                        <a href="tel:4354089068">435 408 9068</a>
                    </div>
                    <div class="contact-form-right-single">
                        <h5>Email</h5>
                        <a href="mailto:contact@appiyan.com">contact@appiyan.com</a>
                    </div>
                    <div class="contact-form-right-single">
                        <h5>Address</h5>
                        <p> 3145 Beeghley Street Valley Mills Texas 76689</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  contact area end -->
<!--  footer area start -->
<div class="footer-area cta wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-menu">
                    <ul id="footer-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-social-icon">
                    <a href="#"><i class='zmdi zmdi-facebook'></i></a>
                    <a href="#"><i class='zmdi zmdi-twitter'></i></a>
                    <a href="#"><i class='zmdi zmdi-linkedin'></i></a>
                    <a href="#"><i class='zmdi zmdi-instagram'></i></a>
                    <a href="#"><i class='zmdi zmdi-google-plus'></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-logo">
                    <h4><a href="index.html">Appiyan</a></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-title">
                    <p>&copy; 2018 All Right Revervd by <a href="index.html">CrazyCafe</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}